*{
  font-family: "Rimouski";
}

body{
  background-color: #aadeaa;
}
.search{
  margin: 10px auto;
  display: block;
  padding: 14px 16px;
  width: 300px;
  border-radius:15px;
  background: transparent;
  border: 2px white solid;
  color:white;
  outline: none;
}
