*{
  font-family: "Rimouski";
}

body{
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-image: url(../public/img/hero1.jpeg);
  
}
.search{
  margin: 10px auto;
  display: block;
  padding: 14px 16px; 
  width: 300px;
  border-radius:15px;
  background: transparent;
  border: 2px white solid;
  color:white;
  outline: none;
}
